
<div class="relative w-80 h-96 pb-[12.80px] bg-white rounded-[19.20px] flex-col justify-between items-start inline-flex shadow-sm ring-1">
  <img class="w-80 h-80 rounded-tl-[19.20px] rounded-tr-[19.20px]" src="https://via.placeholder.com/320x320"/>
  <img class="absolute left-[85%] top-[5%] rounded-full shadow border border-black border-opacity-50" src="https://via.placeholder.com/26x26"/>
  <div class="w-80 h-[51.20px] px-[12.80px] flex-col justify-end items-center gap-[3.20px] flex">
    <div class="w-[294.40px] h-[25.60px] flex-col justify-start items-start gap-[6.40px] flex">
      <div class="self-stretch h-3 justify-between items-end inline-flex">
        <div class="text-black text-xs font-medium font-['Kanit']">Item Name</div>
        <div class="text-black text-xs font-light font-['Kanit']">Auction By Someone</div>
      </div>
      <div class="self-stretch h-2.5 justify-between items-end inline-flex">
        <div class="text-black text-xs font-light font-['Kanit']">Category</div>
        <div class="text-black text-xs font-light font-['Kanit']">*****</div>
      </div>
    </div>
    <div class="self-stretch h-3 justify-between items-center inline-flex">
      <div class="text-black text-base font-semibold font-['Kanit']">Now THB 2,800</div>
      <div class="text-red-500 text-xs font-normal font-['Kanit']">1 Days 12 Hour 12 Min</div>
    </div>
  </div>
</div>