<footer class="fixed bottom-0 left-0 right-0 z-10 bg-gray-200">
  <div class="container mx-auto flex items-end justify-between py-4 gap-x-24">
    <div class="flex flex-col">
      <div class="">
        <p class="font-semibold">Contact:</p>
        <div class="flex flex-row gap-2">
          <div class="block">
            <div class="col-span-1">email:</div>
            <div class="col-span-1">tel:</div>
          </div>
          <div class="block font-light">
            <div class="col-span-1/4">contact@bidsure.com</div>
            <div class="col-span-1">+66 1111-4444</div>
          </div>
        </div>
      </div>
    </div>

    <div class="font-semibold">
<!--      <div data-action="click->theme#toggle">Theme</div>-->
      Copyright 2024 © BID SURE
    </div>
  </div>
</footer>